<!-- Section one - Filters -->
<div class="header">
    <form class="filterForm" [formGroup]="filterForm" (ngSubmit)="onApplyFilterClick()">
        <select formControlName="vehicleType" class="custom-select ">
            <option class="labelName" value="">Vehicle Type</option>
            <option value="Car">Car</option>
            <option value="Bike">Bike</option>
        </select>
        <select formControlName="status" class="custom-select">
            <option class="labelName" value="">Status</option>
            <option value="in">IN</option>
            <option value="out">OUT</option>
        </select>
        <select formControlName="paymentMode" class="custom-select">
            <option class="labelName" value="">Payment Staus</option>
            <option value="Paid">Paid</option>
            <option value="Pending">Pending</option>
        </select>
        <select formControlName="parking" class="custom-select">
            <option class="labelName" value="">Parking</option>
            <option value="Free">Free</option>
            <option value="Monthly">Monthly</option>
            <option value="Daily">Daily</option>
        </select>
        <div>
            <button  class="btn btn-primary" type="submit">Apply Filter</button>
        </div>
    </form>
</div>

<!-- Section Two - Table -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="width-90 mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">


        <!-- Tagid Column -->
        <ng-container matColumnDef="tagID">
            <th mat-header-cell *matHeaderCellDef> Tag ID </th>
            <td mat-cell *matCellDef="let element"> {{element.tagId}} </td>
        </ng-container>

        <!-- Vehicle Number Column -->
        <ng-container matColumnDef="vehicleNumber">
            <th mat-header-cell *matHeaderCellDef> Vehicle Numberr </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
        </ng-container>

        <!-- Ticket Number Column -->
        <ng-container matColumnDef="ticketNumber">
            <th mat-header-cell *matHeaderCellDef> Ticket Number </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketNumber}} </td>
        </ng-container>

        <!-- Vehicle type Column -->
        <ng-container matColumnDef="vehicleType">
            <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
        </ng-container>

        <!-- Category type Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <!-- Parking  Column -->
        <ng-container matColumnDef="parking">
            <th mat-header-cell *matHeaderCellDef> Parking </th>
            <td mat-cell *matCellDef="let element"> {{element.parking}} </td>
        </ng-container>

        <!-- Payment Mode  Column -->

        <ng-container matColumnDef="paymentMode">
            <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentMode}} </td>
        </ng-container>
        
        <!-- Status  Column -->

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 100]"></mat-paginator>
</div>